/* Style for image placeholder */
.image-placeholder-large {
    /* Task 1 styling */
    width:100%;
    height: 400px;
    position: relative;
    background-color: teal;
}

/* Style for product image */
.product-image-large {
    /* Task 2 styling */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Style for 'no image available' placeholder */
.no-image-available-large {
    /* Task 3 styling */
    display: flex;
    text-align: center;
    background-color: #f4f4f4;
    font-size: 12pt;
    color: #000;
}

/* Style for card header */
.card-header {
    /* Task 4 styling */
    background-color: navy;
    color: white;
}

/* Style for details title */
.details-title {
    /* Task 5 styling */
    font-size: 32pt;
    color: rgb(0, 111, 148);
}

/* Style for comments section */
.comments-section {
    /* Task 6 styling */
    margin: auto;
    padding: auto;
    background-color: #080808;
}